  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(223, 78, 38, 0.8); /* Adjust the alpha value (0.8) for opacity */
    background: linear-gradient(45deg, rgba(223, 78, 38, 0.8) 0%, rgba(222, 131, 41, 0.8) 33%, rgba(255, 252, 0, 0.8) 80%);
  }

  .container {
    flex-basis: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .chat-box {
    background-color: #dab914;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .messages {
    background: rgb(94, 45, 20);
    background: linear-gradient(45deg, rgba(94, 45, 20, 1) 21%, rgba(73, 42, 18, 1) 45%, rgba(98, 96, 11, 1) 86%);
    max-height: 300px;
    overflow-y: scroll;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .messages::-webkit-scrollbar {
    width: 0.5em; /* Set the width of the scrollbar to control its appearance */
  }
  
  .messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0); /* Make the thumb transparent */
  }
  
  .message {
    margin: 10px 0;
  }
  
  .user-message {
    color: #f5e31a;
  }
  
  .bot-message {
    color: #ffc800;
  }
  
  .input-container {
    display: flex;
  }
  
  #user-input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
  }
  
  #send-button {
    padding: 8px 15px;
    border: none;
    background-color: #ff6f00;
    color: #ffffff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #send-button:hover {
    background-color: #f2ff04;
    color: black;
    transform: scale(1.1);
  }
  